// compress: true

@import "vars.less";
@import "vendor/slick.less";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: 14px;
  color: #6c7279;
  background-color: #fff;
  -webkit-font-smoothing: antialised;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: @black;

  &.no-scroll {
    overflow: hidden;
  }
}

html {
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}

// Container

// Blocks

@import "blocks/intro.less";
@import "blocks/container.less";
@import "blocks/header.less";
@import "blocks/user.less";
@import "blocks/nav.less";
@import "blocks/social.less";
@import "blocks/btn.less";
@import "blocks/works.less";
@import "blocks/portfolio.less";
@import "blocks/work.less";
@import "blocks/about.less";
@import "blocks/reviews.less";
@import "blocks/news.less";
@import "blocks/articals.less";
@import "blocks/footer.less";
@import "blocks/modal.less";
@import "blocks/modal-work.less";
@import "blocks/timeline.less";
@import "blocks/progress-bar.less";
@import "blocks/contact.less";
@import "blocks/form.less";
@import "blocks/burger.less";

// Helpers

@import "helpers.less";
