//main: ../style.less

.nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;

  @media @mobile {
    position: absolute;
    top: 100%;
    height: auto;
    padding: 1rem 1rem 2rem;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: none;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    &.show {
      display: flex;
    }
  }
}
.nav__link {
  position: relative;
  margin-left: 2rem;
  font-size: 0.93rem;
  color: @black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: @black;
    position: absolute;
    bottom: -5px;
    left: 50%;
    z-index: 1;
    transition: all 0.2s linear;
  }

  &:hover:not(.nav__link--btn) {
    &::after {
      width: 100%;
      left: 0;
    }
  }

  @media @mobile {
    width: 100%;
    margin-left: 0;
    right: 0;
    padding: 0.5rem 1rem;
  }

  // Modificators

  &--btn {
    padding: 0.66rem 2rem;
    border: 2px solid @black;
    border-radius: 20px;
    transition: all 0.2s linear;
    &:hover {
      background-color: @black;
      color: @white;
    }
  }
}
