//main: ../style.less

.timeline {
  display: flex;
  margin: 4.2rem auto;
  width: 100%;
  max-width: 768px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: @black;
    top: 0;
    left: 50%;
    height: 100%;
  }
}

.timeline__col {
  width: 50%;
}

.timeline__col--left {
  text-align: right;
  padding-right: 3.2rem;
}

.timeline__col--right {
  padding-left: 3.2rem;
}

.tumeline__title {
  font-size: 1.2rem;
  color: @black;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.timeline__item {
  margin-bottom: 2.6rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.timeline__date {
  display: block;
  text-decoration: underline;
  font-size: 0.94rem;
  color: @black;
  margin-bottom: 0.8rem;
}
.timeline__subtitle {
  margin-bottom: 0.2rem;
  font-size: 16px;
  font-weight: 700;
  color: @black;
}
.timeline__position {
  font-size: 0.94rem;
  font-style: italic;
  color: @black;
}
.timeline__text {
  font-size: 0.8rem;
  color: @grey;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0.8rem;
}
